<template>
  <div id="app" ref="app">
    <div id="clocks">
      <clock></clock>
      <clock timezone='NZ' label='NZ'></clock>
      <clock timezone='Asia/Hong_Kong' label='HONG KONG'></clock>
    </div>
  </div>
</template>

<script>
import Clock from './components/Clock.vue'
import data from './data'
export default {
  name: 'App',
  components: {
    Clock
  },
  methods:{
    update(){
      const photos = data.photos.photo;
              const randomPhoto = photos[Math.floor(Math.random() * photos.length)]; 
        this.$refs.app.style.backgroundImage = 'url(' + randomPhoto.url_l +')';
    }
  },
  mounted(){
    setInterval(() => {
        this.update();
      }, 300000)
    this.update();
  }
}
</script>

<style>
html, body, #app{
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center; /* adjusted */
  transition: background-image 0.2s ease-in-out;
}

#clocks {
  width: 100%;
  display: grid;
  grid-gap: 10vh;
}
</style>
