<template>
<div class="container">
  <div class="clock-border">
    <div class="clock-inner">
        <div class="label">{{label}}</div>
        <div class="clock">{{text}}</div>
    </div>
  </div>
</div>
</template>

<script>
export default {

  name: 'DigitalClock',
  props: {
    timezone: {
      type: String,
      default: 'UTC'
    },
    label: {
      type: String,
      default: 'UTC'
    }
  },
  data () {
    return {
      text: ''
    }
  },
  methods: {
    setTime () {
        this.update();
      setInterval(() => {
          this.update();
      }, 1000)
    },
    checkSingleDigit (digit) {
      return ('0' + digit).slice(-2)
    },
    update(){
        const date = new Date()
        const format = new Intl.DateTimeFormat('en-US', { timeStyle: 'short', timeZone: this.timezone });
        this.text = format.format(date);
    }
  },
  mounted () {
    this.setTime()
  }
}

</script>

<style >

  .clock-border {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);


    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

  }
  .clock-inner {
      width:100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0px 0px; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 10vh;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .clock-inner > div{
      margin: 2vh;
      padding-left: 10vw;
      padding-right: 10vw;
  }

  .clock{
      text-align: right;
  }
</style>
